include layout

block content
  h5(class="px-14")= "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit "
    //- span(id="dots")="..."
    span(id="more")= "in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    //- button(onclick="myFunction()" id="myBtn")="Read more"
  div(data-aos="fade-up" class="grid grid-cols-1 lg:grid-cols-2 gap-0 px-14" oncontextmenu="return false")
    a(href="/floofs")
      img(src="images/HomepageHeaderImage.jpg" alt="test1" onerror="this.src='images/alt3.png'")
    img(data-aos="fade-up" src="" alt="test2" onerror="this.src='images/alt3.png'")
    img(data-aos="fade-up" src="" alt="test3" onerror="this.src='images/alt3.png'")
    img(data-aos="fade-up" src="" alt="test4" onerror="this.src='images/alt3.png'")
    img(data-aos="fade-up" src="" alt="test5" onerror="this.src='images/alt3.png'")
    img(data-aos="fade-up" src="" alt="test6" onerror="this.src='images/alt3.png'")
    img(data-aos="fade-up" src="" alt="test7" onerror="this.src='images/alt3.png'")
    img(data-aos="fade-up" src="" alt="test8" onerror="this.src='images/alt3.png'")
  //- div(class="cursor")
script.
  AOS.init();