doctype html
html
  head
    title= title
    script(src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous")
    script(src="https://unpkg.com/aos@next/dist/aos.js")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet")
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://unpkg.com/aos@next/dist/aos.css')
    link(src="https://cdn.jsdelivr.net/npm/textify.js@3.0.1/dist/Textify.min.css" rel="stylesheet")
    script(src="https://cdn.jsdelivr.net/npm/textify.js@3.0.1/dist/Textify.min.js")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js")
    link(src="https://cdn.jsdelivr.net/npm/textify.js/dist/Textify.min.css" rel="stylesheet")
    script(src="https://cdn.tailwindcss.com")
    //- body(oncontextmenu="return false;")
    body(style="margin:auto;")
      block content
      script.
        AOS.init({useClassNames: true,});
      script.
        $(document).ready(function(){
          $('.path1').animate({top: "57px"}, 1000);
          $('.path2').animate({top: "57px"}, 900);
          $('.path3').animate({top: "57px"}, 800);
          $('.path4').animate({top: "57px"}, 700);
          $('.path5').animate({top: "57px"}, 600);
          $('.path6').animate({top: "57px"}, 500);
          $('.path7').animate({top: "57px"}, 600);
          $('.path8').animate({top: "57px"}, 700);
          $('.path9').animate({top: "57px"}, 800);
          $('.path10').animate({top: "57px"}, 900);
          $('.path11').animate({top: "57px"}, 1000);
        });
      script.
        var didScroll;
        var lastScrollTop = 0;
        var delta = 5;
        var navbarHeight = $('header').outerHeight();
        $(window).scroll(function(event){
          didScroll = true;
        });
        setInterval(function() {
          if (didScroll) {
            hasScrolled();
            didScroll = false;
          }
        }, 250);

        function hasScrolled() {
          var st = $(this).scrollTop();
          if(Math.abs(lastScrollTop - st) <= delta)
          return;
          if (st > lastScrollTop && st > navbarHeight){
            $('header').removeClass('nav-down').addClass('nav-up');
          } else {
            if(st + $(window).height() < $(document).height()) {
              $('header').removeClass('nav-up').addClass('nav-down');
            }
            }
          lastScrollTop = st;
        }
      script.
        let title = document.querySelector('.title');
        let curs = document.querySelector('.cursor');
        
        document.addEventListener('mousemove', (e) => {
          let x = e.pageX;
          let y = e.pageY;
          curs.style.left = (x - 22) + "px";
          curs.style.top = (y - 22) + "px";
        });
        document.addEventListener('mouseleave', (e) => {
          let x = e.pageX;
          let y = e.pageY;
          curs.style.left = (x - 22) + "px";
          curs.style.top = (y - 22) + "px";
        });

        function readMore() {
          var dots = document.getElementById("dots");
          var moreText = document.getElementById("more");
          var btnText = document.getElementById("myBtn");
          
          if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
          }
          else {
              dots.style.display = "none";
              btnText.innerHTML = "Read less";
              moreText.style.display = "inline";
          }
        }


  //-   if ( $( ".path1" ).first().is( ":hidden" ) ) {
  //-     $( ".path1" ).show( "slow" );
  //-   }
  //-   else
  //-   {
  //-     $( ".path1" ).slideUp("slow");
  //-   }
  //- });
  //- script.
  //-   $(window).scroll(function() {
  //-     $(".scale").css({"transform": "scale(0.4,0.4)","-moz-transform": "scale(0.4,0.4)", "webkit-transform": "scale(0.4,0.4)"});
  //-       if ($(this).scrollTop()==0){
  //-         $(".scale").css({"transform": "scale(1,1)","-moz-transform": "scale(1,1)", "webkit-transform": "scale(1,1)"});
  //-       }
  //-   });

