doctype html
html
  head
    title= title
    script(src="https://unpkg.com/aos@next/dist/aos.js")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet")
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://unpkg.com/aos@next/dist/aos.css')
  body(oncontextmenu="return false;")
    block content
    script.
      AOS.init();
