body {
  padding: 50px;
  font-family: 'Source Code Pro', monospace, "Lucida Grande", Helvetica, Arial, sans-serif;
  font: 14px;
}

img {
  width: 100%;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

a {
  /* position: fixed; */
  width: 33%;
  display: inline-block;
  text-align: center;
  /* text-align: justify; */
  /* justify-content: space-between; */
  color: black;
  text-decoration: none;
  filter: alpha(opacity=80);
}

p {
  text-align: center;

}

table {
  width: 100%;
  background-color: black;
}

svg {
  display: inline-block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  text-align: center;
}

.column {
  flex: 25%;
  max-width: 33%;
  padding: 0 4px;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

header {
  position: fixed;
  width: 88vw;
  text-align: center;
  justify-content: space-evenly;
  padding: 10px;
  /* padding-right: 50px; */
}
