body {
  padding-top: 50px;
  font-family: 'Roboto Mono', monospace, "Lucida Grande", Helvetica, Arial, sans-serif;
  font: 14px;
  background-color: white;
}

img {
  width: 100%;
  text-align: center;
  /* padding-top: 3rem; */
  /* padding-bottom: 1rem; */
}

a {
  margin-bottom: 50px;
  margin-left: 60px;
  margin-right: 80px;
  /* width: 10%; */
  /* display: inline-block; */
  text-align: center;
  color: black;
  text-decoration: none;
  filter: alpha(opacity=80);
}

h5 {
  position: relative;
  /* top: 15em; */
  text-align: center;
  padding-bottom: 2em;
  /* margin-bottom: 10em; */
}

table {
  width: 100%;
  background-color: black;
  text-align: center;

}

.hidden {
  visibility: hidden;
}

.scale {
  align-self: center;
  text-align: center;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 1rem;
  /* top: 400px; */
  /* position: fixed; */
  /* mix-blend-mode: difference; */
  /* filter: invert(1); */
  /* -webkit-filter: (invert(1)); */
  /* transition: 0.5s ease-out; */
  /*browser specific versions*/
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: all 0.4s;
}



.row {
  display: flex;
  flex-wrap: wrap;
  /* padding: 0 4px; */
  text-align: center;
}

.column {
  flex: 50%;
  max-width: 50%;
  text-align: center;

  /* padding: 0 4px; */
}

.column img {
  background-color: black;
  aspect-ratio: 16 / 9;
  /* margin-top: 8px; */
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

header {
  display: flex;
  /* align-items: stretch; */
  /* Default */
  justify-content: space-between;
  align-self: center;
  text-align: center;
  width: 100%;
  z-index: 1;
  position: fixed;
  mix-blend-mode: difference;
  filter: invert(1);
  -webkit-filter: (invert(1));
}
